@import url('https://fonts.googleapis.com/css?family=Roboto');


.App {
  margin-left: auto;
  margin-right: auto;
  width: 750px;
  font-family: "Roboto", sans-serif;
}

* {
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}


.portfolio {
  display: grid;
  grid-template-rows: 80px calc(100vh - 80px);
  height: 100%;
}

.toolbar {
  padding: 8px;
}

.toolbar button {
  background-color: white;
  border: 2px solid dimgray;
  padding: 8px 12px;
  margin: 16px 4px;
  font-weight: 700;
  color: dimgray;
  cursor: pointer;
}

.toolbar button.selected {
  background-color: dimgray;
  color: white;
}

.list {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  flex-grow: 1;
  overflow: auto;
}

.column {
  display: flex;
  flex-direction: column;
}

img {
  margin: 10px;
}